<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- Permissions -->
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.USE_EXACT_ALARM" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

	<!-- Remove permissions that were appearing in the merged manifest for some reason -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
		tools:node="remove" />
	<uses-permission android:name="android.permission.INTERNET"
		tools:node="remove" />

	<!-- NFC is optional -->
	<uses-feature
		android:name="android.hardware.nfc"
		android:required="false"
		tools:replace="android:required"
		/>

	<!-- Indicate that the app should be able to query apps that provide the
		ACTION_SEND intent -->
	<queries>
		<intent>
			<action android:name="android.intent.action.SEND" />
			<data android:mimeType="application/zip" />
		</intent>

		<intent>
			<action android:name="android.intent.action.TTS_SERVICE" />
		</intent>
	</queries>

	<!-- Application -->
	<application
		android:name=".NacNfcAlarmClockApplication"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:enableOnBackInvokedCallback="true"
		android:allowBackup="false"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/full_backup_content"
		android:supportsRtl="true"
		tools:targetApi="tiramisu">

		<!-- Main activity -->
		<activity
			android:name=".main.NacMainActivity"
			android:theme="@style/AppTheme.NoActionBar"
			android:windowSoftInputMode="stateAlwaysHidden"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SET_ALARM" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SHOW_ALARMS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Alias on the main activity so that this NFC tag scanning only gets -->
		<!-- enabled when an alarm is active -->
		<activity-alias
			android:name=".main.NacMainAliasActivity"
			android:label="@string/app_name"
			android:targetActivity=".main.NacMainActivity"
			android:enabled="false"
			android:exported="true">

			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.nfc.action.TECH_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

			<meta-data
				android:name="android.nfc.action.TECH_DISCOVERED"
				android:resource="@xml/nfc_tech_filter"
				/>

			<intent-filter>
				<action android:name="android.nfc.action.TAG_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity-alias>

		<!-- Alarm activity -->
		<activity
			android:name=".alarm.activealarm.NacActiveAlarmActivity"
			android:theme="@style/AppTheme.NoActionBar"
			android:directBootAware="true"
			android:excludeFromRecents="true"
			android:taskAffinity=""
			/>

		<!-- Settings activity -->
		<activity
			android:name=".settings.NacMainSettingActivity"
			android:label="@string/title_settings"
			android:parentActivityName=".main.NacMainActivity"
			android:windowSoftInputMode="stateAlwaysHidden"
			/>

		<!-- Media activity -->
		<!--
		<activity
			android:name=".alarm.options.mediapicker.NacMediaPickerActivity"
			android:exported="false"
			android:launchMode="singleInstance"
			/>
			-->

		<!-- Active alarm service (show notification and call alarm activity) -->
		<service
			android:name=".alarm.activealarm.NacActiveAlarmService"
			android:foregroundServiceType="systemExempted"
			android:directBootAware="true"
			android:exported="false"
			/>

		<!-- Active timer service (show notification and call timer fragment) -->
		<service
			android:name=".timer.active.NacActiveTimerService"
			android:foregroundServiceType="systemExempted"
			android:exported="false"
			/>

		<!-- Upcoming reminder -->
		<service
			android:name=".alarm.options.upcomingreminder.NacUpcomingReminderService"
			android:foregroundServiceType="systemExempted"
			android:exported="false"
			/>

		<!-- Dismiss early -->
		<service
			android:name=".alarm.options.dismissoptions.NacDismissEarlyService"
			android:foregroundServiceType="systemExempted"
			android:exported="false"
			/>

		<!-- Alarm manager broadcasts this so that the foreground service can be started. -->
		<receiver
			android:name=".alarm.activealarm.NacActiveAlarmBroadcastReceiver"
			/>

		<!-- Restore alarms on boot -->
		<receiver
			android:name=".system.triggers.startup.NacStartupBroadcastReceiver"
			android:directBootAware="true"
			android:enabled="true"
			android:exported="false"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<!-- Shutdown active alarms on boot -->
		<receiver
			android:name=".system.triggers.shutdown.NacShutdownBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.ACTION_SHUTDOWN" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.ACTION_REBOOT" />
			</intent-filter>
		</receiver>

		<!-- Change alarms when time changes. -->
		<receiver
			android:name=".system.triggers.timechange.NacTimeChangeBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.DATE_CHANGED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.LOCALE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- Refresh alarms when the Schedule Exact Alarm permission is changed -->
		<receiver
			android:name=".system.permission.scheduleexactalarm.NacScheduleExactAlarmPermissionChangedBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- Restore alarms after the app is updated. Alarms are lost after an update -->
		<receiver
			android:name=".system.triggers.appupdate.NacAppUpdatedBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>

		<!-- File provider to email statistics files -->
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.nfcalarmclock.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">

			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_filepaths"
				/>
		</provider>

		<!-- Clock widget -->
		<receiver
			android:name=".widget.NacClockWidgetProvider"
			android:label="@string/label_clock_widget"
			android:exported="false">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.LOCALE_CHANGED" />
				<action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/nac_clock_widget_info"
				/>
		</receiver>

		<activity
			android:name=".widget.NacClockWidgetConfigureActivity"
			android:theme="@style/AppTheme.NoActionBar"
			android:exported="false">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

	</application>
</manifest>
