<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- Permissions -->
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.USE_EXACT_ALARM" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<!-- Remove permissions that were appearing in the merged manifest for some reason -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
		tools:node="remove" />
	<uses-permission android:name="android.permission.INTERNET"
		tools:node="remove" />

	<!-- NFC is optional -->
	<uses-feature
		android:name="android.hardware.nfc"
		android:required="false"
		/>

	<!-- Camera is optional -->

	<!-- Indicate that the app should be able to query apps that provide the
		ACTION_SEND intent -->
	<queries>
		<intent>
			<action android:name="android.intent.action.SEND" />
			<data android:mimeType="application/zip" />
		</intent>

		<intent>
			<action android:name="android.intent.action.TTS_SERVICE" />
		</intent>
	</queries>

	<!-- Application -->
	<application
		android:theme="@style/AppTheme"
		android:label="@string/app_name"
		android:name=".NacNfcAlarmClockApplication"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:allowBackup="false"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/full_backup_content"
		android:enableOnBackInvokedCallback="true"
		android:supportsRtl="true"
		tools:targetApi="tiramisu">

		<!-- Main activity -->
		<activity
			android:theme="@style/AppTheme.NoActionBar"
			android:name=".main.NacMainActivity"
			android:windowSoftInputMode="stateAlwaysHidden"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SET_ALARM" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SHOW_ALARMS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

			<!--
			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.nfc.action.TECH_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<meta-data
				android:name="android.nfc.action.TECH_DISCOVERED"
				android:resource="@xml/nfc_tech_filter"
				/>

			<intent-filter>
				<action android:name="android.nfc.action.TAG_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			-->

		</activity>

		<!-- Alias on the main activity so that this NFC tag scanning only gets -->
		<!-- enabled when an alarm is active -->
		<activity-alias
			android:name=".main.NacMainAliasActivity"
			android:label="@string/app_name"
			android:exported="true"
			android:enabled="false"
			android:targetActivity=".main.NacMainActivity">

			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.nfc.action.TECH_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<meta-data
				android:name="android.nfc.action.TECH_DISCOVERED"
				android:resource="@xml/nfc_tech_filter"
				/>

			<intent-filter>
				<action android:name="android.nfc.action.TAG_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

		</activity-alias>

		<!-- Alarm activity -->
		<activity
			android:theme="@style/AppTheme.NoActionBar"
			android:name=".alarm.activealarm.NacActiveAlarmActivity"
			android:directBootAware="true"
			android:excludeFromRecents="true"
			android:taskAffinity="">
		</activity>

		<!-- Settings activity -->
		<activity
			android:name=".settings.NacMainSettingActivity"
			android:label="@string/settings"
			android:parentActivityName=".main.NacMainActivity"
			android:windowSoftInputMode="stateAlwaysHidden">
		</activity>

		<!-- Media activity -->
		<activity
			android:name=".alarm.options.mediapicker.NacMediaPickerActivity"
			android:launchMode="singleInstance"
			android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"
				/>
		</activity>

		<!-- Start an active alarm (show notification and call alarm activity) -->
		<service
			android:name=".alarm.activealarm.NacActiveAlarmService"
			android:directBootAware="true"
			android:exported="false"
			android:foregroundServiceType="systemExempted">
		</service>

		<!-- Start an upcoming reminder -->
		<service
			android:name=".alarm.options.upcomingreminder.NacUpcomingReminderService"
			android:foregroundServiceType="systemExempted"
			android:exported="false">
		</service>

		<!-- Alarm manager broadcasts this so that alarms can be started.
			Start the foreground service. -->
		<receiver
			android:name=".alarm.activealarm.NacActiveAlarmBroadcastReceiver"
			/>

		<!-- Restore alarms on boot -->
		<receiver
			android:name=".system.triggers.startup.NacStartupBroadcastReceiver"
			android:directBootAware="true"
			android:enabled="true"
			android:exported="false"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
			tools:targetApi="n">

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<!-- Shutdown active alarms on boot -->
		<receiver
			android:name=".system.triggers.shutdown.NacShutdownBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.ACTION_SHUTDOWN" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.ACTION_REBOOT" />
			</intent-filter>
		</receiver>

		<!-- Change alarms when time changes. -->
		<receiver
			android:name=".system.triggers.timechange.NacTimeChangeBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.DATE_CHANGED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.LOCALE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- Refresh alarms when the Schedule Exact Alarm permission is changed -->
		<receiver
			android:name=".system.permission.scheduleexactalarm.NacScheduleExactAlarmPermissionChangedBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- Restore alarms after the app is updated. Alarms are lost after an update -->
		<receiver
			android:name=".system.triggers.appupdate.NacAppUpdatedBroadcastReceiver"
			android:enabled="true"
			android:exported="false">

			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>

		<!-- File provider to email statistics files -->
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.nfcalarmclock.fileprovider"
			android:grantUriPermissions="true"
			android:exported="false">

			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_filepaths"
				/>

		</provider>

	</application>
</manifest>
